/* CSS declarations go here */
@font-face {
  font-family: bebas;
  src: url("/BebasNeue.otf");
}
@font-face {
  font-family: roboto;
  src: url("/roboto/Roboto-Light.ttf");
}
body {
  font-family: roboto;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

a:link {

  color: #33CCFF;
  text-decoration: none;
}

a:hover {
  color: #33CCCC;
  text-decoration: none;

}


a:visited {

  color: #000099;
  text-decoration: none;
}
header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
  text-align: center;
}
header h1{
  font-size: 30px;

}
.project{
  text-align: left;
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.main {
  font-family: roboto;
  font-size: 18px;
 
  margin: 10px auto;
  
  
}

.portfolio {
  font-family: roboto;
  font-size: 18px;
  text-align: center;
  margin: 10px auto;
  color: #63C7B2; 

}

.portfolio h1 {
  
  

}

.main h1{
  font-family: roboto;
  font-size: 30px;
  color: #63C7B2;
}
.main p {
  font-family: bebas;
  color: #263D42;
  
  
}

.about {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
}

.services {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align:  center;
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
}

.services span{
  padding-right: 10px;
  padding-left: 10px;
}

.contact {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align:  center;
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;

}
.contact a {
  padding: 10px;
}
#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
  text-align: center;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

table {
  border: solid;

  

}
.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  
}

li .text {
  margin-left: 10px;
}

li .reps {
  text-align: right;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}